<div class="row">
  <div class="col-md-12" div="cardsbody">
    <div class="row">
    <!-- tananan.each do |t|-->
      <div class="col-md-2" id="card">
        <img src="http://ppgbiotecufam.net/images/default_user.jpg" id="card-photo" />
        <b>Nome da Silva</b><br />
        S達o Paulo - SP<br />
        Programador<br />
        <button class="btn btn-primary" id="card-talk"><spam class="glyphicon glyphicon-envelope">  Conversar</spam>
      </div>
      <!-- end -->
        <div class="col-md-2" id="card">
        <img src="http://ppgbiotecufam.net/images/default_user.jpg" id="card-photo" />
        <b>Nome da Silva</b><br />
        S達o Paulo - SP<br />
        Programador<br />
        <button class="btn btn-primary" id="card-talk"><spam class="glyphicon glyphicon-envelope">  Conversar</spam>
      </div>
        <div class="col-md-2" id="card">
        <img src="http://ppgbiotecufam.net/images/default_user.jpg" id="card-photo" />
        oNome da Silva<br />
        S達o Paulo - SP<br />
        Programador<br />
        <button class="btn btn-primary" id="card-talk"><spam class="glyphicon glyphicon-envelope">  Conversar</spam>
      </div>
        <div class="col-md-2" id="card">
        <img src="http://ppgbiotecufam.net/images/default_user.jpg" id="card-photo" />
        Nome da Silva<br />
        S達o Paulo - SP<br />
        Programador<br />
        <button class="btn btn-primary" id="card-talk"><spam class="glyphicon glyphicon-envelope">  Conversar</spam>
      </div>
    </div>

  </div>
</div>

</button>
