<div id="userdash" class="row">
    <div id="perfil" class="col-md-3">
        
        <div id="foto-row" class="row">
            
            <div id="foto-col" class="col-md-6">
                <img src="" class="fotoperfil">
                
            </div>
        </div>
        
        <div id="nome-row" class="row">
            <p class="nome"></p>
        </div>
    </div>
    <div class="col">
    
    </div>
    <div class="col">
    
    </div>
</div>
