h1{
    /*text-align: right;*/
    margin-left: 100px;
}

#title{
  text-align: center;

}

#perfil{
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    /*float:left;*/
    height: 100%;
    margin-left: 50px;
    margin-top:65px;
    border-radius: 10px;
}

body{
    padding-top: 50px;
}

/*.col-md-6{
    background-color: #F5F5F5;
    border-radius: 15px;
    margin: 0px;
}*/

.starter-template{
    padding: 40px 15px;
    text-align: center;
}

.bloco-item {
    width: 15%;
    margin-left: 2.5%
    ;
    margin-right: 2.5%;

    height: 40%;
    margin-top: 2.5%;

    background-color: white;

    float: left;

    box-shadow: 0px 10px 5px #888888;

    cursor: pointer;

    transition: all 0.3s ease;
}

.verticalLine {
    border-left: thick solid #ff0000;
}

