#card{
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  margin:10px;
  border-radius: 10px;
  cursor: pointer;
    transition: all 0.3s ease;
    padding: 0px;
}

#card-photo{
  border-radius: 50%;
  width:50px;
  margin:10px;
}

#card-talk{
  margin:10px;
}

.row{
    margin-left: 150px;
}


