.blocos {
  height: 300%;

}
.loginform{
    border-radius: 25px;
    border: 2px solid #363636;
    padding: 20px;
    height: 150px;
}
input {
    text-align: center;
}
.navbar-toggle.navbar-right {
  float: right;
  margin-right: 10px;
}
::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
.boxshadow{
	padding:50px;
}
.boxshadow:hover {
  color: white;
    box-shadow: 5px 5px 5px grey;
}a
.pqn{
  font-size:25px;
}
.quick{
  font-family: 'Quicksand', sans-serif;
}
h1{
	font-size:60px;
}
hr {
    box-shadow: 5px 0px 3px #363636;
}
.shd {
    box-shadow: 3px 3px 3px #363636;
}
.btn:hover{
	background-color:#363636;
}
.btf{
	margin-right:150px;
}
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.monange {
  background-color: #363636;
  border-color: #4169e1;
}
.monange .navbar-brand {
  color: #ecf0f1;
}
.monange .navbar-brand:hover,
.monange .navbar-brand:focus {
  color: #e8e8e8;
}
.monange .navbar-text {
  color: #ecf0f1;
}
.monange .navbar-nav > li > a {
  color: #ecf0f1;
}
.monange .navbar-nav > li > a:hover,
.monange .navbar-nav > li > a:focus {
  color: #e8e8e8;
}
.monange .navbar-nav > .active > a,
.monange .navbar-nav > .active > a:hover,
.monange .navbar-nav > .active > a:focus {
  color: #e8e8e8;
  background-color: #4169e1;
}
.monange .navbar-nav > .open > a,
.monange .navbar-nav > .open > a:hover,
.monange .navbar-nav > .open > a:focus {
  color: #e8e8e8;
  background-color: #4169e1;
}
.monange .navbar-toggle {
  border-color: #4169e1;
}
.monange .navbar-toggle:hover,
.monange .navbar-toggle:focus {
  background-color: #4169e1;
}
.monange .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.monange .navbar-collapse,
.monange .navbar-form {
  border-color: #ecf0f1;
}
.monange .navbar-link {
  color: #ecf0f1;
}
.monange .navbar-link:hover {
  color: #e8e8e8;
}

@media (max-width: 767px) {
  .monange .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .monange .navbar-nav .open .dropdown-menu > li > a:hover,
  .monange .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e8e8e8;
  }
  .monange .navbar-nav .open .dropdown-menu > .active > a,
  .monange .navbar-nav .open .dropdown-menu > .active > a:hover,
  .monange .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e8e8e8;
    background-color: #4169e1;
  }
}
